In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
census_est = "Resources/census_est.csv"
census_est_df = pd.read_csv(census_est, low_memory=False, encoding = "ISO-8859-1")
census_est_df.head(3)

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
0,40,1,0,0,0,0,0,A,Alabama,Alabama,4779736,4780135,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747
1,162,1,0,124,0,0,0,A,Abbeville city,Alabama,2688,2688,2684,2677,2629,2612,2595,2587,2575,2567
2,162,1,0,460,0,0,0,A,Adamsville city,Alabama,4522,4522,4516,4502,4479,4457,4437,4409,4376,4347

In [8]:
census_est_df = census_est_df[["NAME", "STNAME", "CENSUS2010POP"]]
census_est_df.head(3)

              NAME   STNAME CENSUS2010POP
0          Alabama  Alabama       4779736
1   Abbeville city  Alabama          2688
2  Adamsville city  Alabama          4522